#title_bar
  #title= title
  some bla bal

#tool_bar
  .button
     tool1
  .button tool2
  .button tool3

= partial('node', [{text:"", id: "protonode", rel:'',}])
#mm_1
  #nodes
    = partial('node', [{text: "i am root", id: "n_0_0", class:'root n_0', rel:"n_0_0_1,n_0_0_2"}])
    = partial('node', [{text: "n_0_0_1", id:"n_0_0_1", class:'n_0_0', rel:"root,no1,no2"}])
    = partial('node', [{text: "n_0_0_2", id:"n_0_0_2", class:'n_0_0', rel:"root"}])
     partial('node', [{text: "soöghsdfoöghöghsöghsoöghsöfvcnk<br>eogjitjtoih<br>iopjgiojütjioüj", id:"none3", rel:"root"}])


     partial('node', [{text: "sudfef", id:"no1", rel:"none1"}])
     partial('node', [{text: "ösdgjg", id:"no2", rel:"none1"}])



%form{id: 'change_name_form' ,style: 'position:fixed;bottom:0px;right:0px;z-index:9999'}
  %input{type: 'text', name: 'name'}
  %input{type: 'submit', value: 'change name'}
  
%form{id: 'create_bubble_form' ,style: 'position:fixed;bottom:0px;left:0px;z-index:9999'}
  %input{type: 'text', name: 'name'}
  %input{type: 'submit', value: 'create bubble'}

%canvas#canvas