#title_bar
  #title= title
  some bla bal

#tool_bar
  .button
     tool1
  .button tool2
  .button tool3

= partial('node', [{text: "i am root", id: "root"}])
= partial('node', [{text: "node1", id:"none1"}])
= partial('node', [{text: "noed2", id:"none2"}])
= partial('node', [{text: "soöghsdfoöghöghsöghsoöghsöfvcnk<br>eogjitjtoih<br>iopjgiojütjioüj", id:"none3"}])

%form{id: 'change_name_form' ,style: 'position:fixed;bottom:0px;right:0px'}
  %input{type: 'text', name: 'name'}
  %input{type: 'submit', value: 'change name'}
  
%form{id: 'create_bubble_form' ,style: 'position:fixed;bottom:0px;left:0px'}
  %input{type: 'text', name: 'name'}
  %input{type: 'submit', value: 'create bubble'}